html{
    position:absolute;
    left:45vw;
    bottom:25vh;
    background-color:lightgrey;
}

.login_form{
    position:relative;
    left:40vw;
    bottom:10vh;
}

.login_name{
    position:relative;
    left:40vw;
    bottom:30vh;
}

input[type = submit],input[type = file] {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 20px 20px;
    cursor: pointer;
    font-size:15px;
    width:90px;
    text-align:center;
}

b{
    color:green;
    font-size:20px;
}

h4{
    color:red;
    font-size:20px;
}